body {
    background-color: palegoldenrod;
}

.container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
}

#images{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 50%;
    width: 50%;
    margin: 10px;
    padding: 10px;
    place-content: center;
}

img{
    border-radius: 10px;
    border-color: cornflowerblue;
    width: 75%;
    height: 75%;
}

h1{
    grid-row-start: 1;
    grid-column-start: 4;
    text-align: center;
    background-color: aquamarine;
    border: 8px solid black;
}

#container{
    display: flex;
    justify-content: center;
}

#scoreboard{
    display:flex;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    body{
        background-color: lightgreen;
    }
    #images{
        width: 75%;
    }
}

@media only screen and (max-width: 800px){
    body{
        background-color: lightsalmon;
    }
    #images{
        width: 75%;
    }
}